<ion-header color="#000">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="limegroup">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/images/logo.png"></ion-img>
  <ion-card class="welcome-card">
    <!-- <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some
        of the resources below for next steps.</p>
    </ion-card-content> -->
    <ion-card-header>
      <strong>A Results Based Digital Marketing Agency</strong>
    </ion-card-header>
    <ion-card-content>
      Our team helps businesses get ahead of the competition by utilizing our knowledge & skills in sales and marketing.
      We specialize in premium web design, SEO, social media marketing, app design & PPC for small to medium businesses.
      With so many professionals vying for market share in a highly competitive industry, it is more important than ever
      to build a strong presence both in the community and online. Our willingness to explore new concepts, trends,
      programs and platforms defines our approach to marketing and exemplifies our appreciation for challenging, unique
      projects.
    </ion-card-content>
  </ion-card>
</ion-content>